@import "../../root.scss";
footer {
    background-color: rgb(0, 0, 0);
    padding: 20px 10px;
    position: sticky;
    overflow: hidden;
    top: 100%;
    h1 {
        color: aliceblue;
        font-style: 20px;
    }
    p {
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    a {
        color: #fff;
        text-decoration: none;
        padding: 0 5px;
        font-style: 16px;
    }
    a:hover {
        transition: 1s;
        color: $primary-color;
    }
    i {
        transition: 1s;
    }
    i:hover {
        transition: 1s;
        color: $primary-color;
    }
}