<div class='wrapper'>
    <div class="container pt-5">
        <h1 class="text-center">About</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet odit inventore, necessitatibus adipisci modi
            nemo
            excepturi? Veritatis repellendus, quae dolorum, numquam, voluptatem cumque quam expedita impedit quidem sed
            ipsum error!
            Nobis quae incidunt quas suscipit ducimus doloribus doloremque veritatis ipsam saepe quo vel corrupti
            reiciendis
            voluptas dolorem veniam illum dignissimos ipsa sapiente ratione, molestiae libero asperiores. Reprehenderit
            voluptatum molestias assumenda!
            Corporis recusandae, iste laudantium ut illum eum fugiat eos, pariatur hic optio repudiandae similique
            perferendis quidem provident reiciendis ipsum praesentium officiis? Iusto commodi quasi fugit nisi itaque
            cum
            deserunt perspiciatis.
        </p>
    </div>
</div>